@font-face {
    font-family: "MathJax-Main";
    src: url("./fonts/MathJax_Main-Regular.otf") format('truetype');
}
@font-face {
    font-family: "MathJax-Main";
    src: url("./fonts/MathJax_Main-Italic.otf") format('truetype');
    font-style: italic;
}
@font-face {
    font-family: "MathJax-Main";
    src: url("./fonts/MathJax_Main-Bold.otf") format('truetype');
    font-weight: bold;
}

body {
    font-family: "MathJax-Main";
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
